
<!-- <div ngIf="country$ | async as country; else loading">
    <label for="name">name</label>
   
</div> -->
<div class="countryCard">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<h2 class="header">Country Details
      
      <button mat-flat-button style="background-color: #007bff; color: white; border-radius: 1px solid white;" class="backButton" (click)="onBackButtonClick()">
        <mat-icon  aria-label="back" fontIcon="keyboard_arrow_right"></mat-icon>
      </button>
      
    </h2>
		<div class="cardBody">
			<img src="{{ form.value.flags.svg }}" class="flag" />
			<h1 class="cardName">{{ form.value.commonName }}</h1>

			<mat-form-field class="full-width">
				<mat-label>region</mat-label>
				<input matInput value="{{ form.value.region }}" disabled />
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>subRegion</mat-label>
				<input matInput value="{{ form.value.subRegion }}" disabled />
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Capital</mat-label>
				<input matInput id="capital" formControlName="capital" />
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Population</mat-label>
				<input type="number" matInput id="population" formControlName="population" />
			</mat-form-field>

			<button mat-flat-button style="background-color: #007bff; color: white;">save</button>
		</div>
	</form>
</div>