.header {
background-image: url('../../assets/bigGlobe.jpg');
height: 150px;
background-position: center;
background-size: 70% 100%;
margin-bottom: 3%;
display: flex;
justify-content: center;
justify-items: center;
flex-direction: column-reverse
}

.title {
  text-align: center;
  color: rgb(77, 76, 76);
  font-weight: bold;
  font-size: 60px;
}
.table {
  width: 80%;
 	margin: 0 auto;
  border-radius: solid 2px black;
}
table {
	border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.mat-header-row {
    background-color: aqua !important;
    font-size: 24px;
}
.details {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}
